@use "palette.scss";

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  width: clamp(320px, 80%, 720px);
  margin: auto;
  list-style: none;

  .item {
    padding: 4px 12px;
    background-color: palette.$secondary;
    color: palette.$primary;
    font-size: 14pt;
    text-transform: capitalize;
    border-radius: 4px;

    &:hover {
      background-color: palette.$accent;
    }
  }
}
